
.videos-list
{
  display: grid !important;
  grid-template-columns: repeat(4, auto);
  justify-content: space-around;
  min-height: 100px;
}

@media all and (max-width: 1200px)
{
  .videos-list
  {
    grid-template-columns: repeat(3, auto);
  }
}

@media all and (max-width: 800px)
{
  .videos-list
  {
    grid-template-columns: repeat(2, auto);
  }
}

@media all and (max-width: 360px)
{
  .videos-list
  {
    grid-template-columns: repeat(1, auto);
  }
}