.videos-list > .item
{
  width: 20vw !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1vw;

  font-size: 1vw;
  font-family: sans-serif;
}


.videos-list > .item > .item_preview
{
  width: 100%;
}

.videos-list > .item > .item_info > .item_channel
{
  font-weight: bold;
}

@media all and (max-width: 1200px)
{
  .videos-list > .item
  {
    width: 30vw !important;
    font-size: 1.5vw;
  }
}

@media all and (max-width: 800px)
{
  .videos-list > .item
  {
    width: 45vw !important;
    font-size: 2.5vw;
  }
}

@media all and (max-width: 360px)
{
  .videos-list > .item
  {
    width: 95vw !important;
    font-size: 5vw;
  }
}