.search-bar
{
  padding: 20px 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar > .input
{
  flex-grow: 10 !important;
  margin-right: 5px;
}

@media all and (max-width: 1200px)
{
  .search-bar
  {
    padding: 20px 20vw;
  }
}

@media all and (max-width: 800px)
{
  .search-bar
  {
    padding: 10px;
  }
}